{% extends 'base.html' %} 
{% load widget_tweaks %}

{% block body %}

  <div class="container">

    <h3>Editing Device</h3>

    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group row">
          <label for="id_{{ field.name }}" class="col-2 col-form-label form-text"> {{ field.label}} </label>
          <div class="col-10 mb-3">{{ field|add_class:"form-control" }}</div>
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary" name="button">Done Editing</button>

    </form>
  </div>

{% endblock %}