{% extends 'base.html' %} 

{% block body %}

<div class="button-group">
  <a href="{% url 'display_all' %}" class="btn btn-dark btn-md" role="button">All</a>

  <a href="{% url 'display_desktops' %}" class="btn btn-primary btn-md" role="button">Desktop</a>
  <a href="{% url 'add_desktop' %}" class="btn btn-warning btn-sm" role="button"> +</a>

  <a href="{% url 'display_laptops' %}" class="btn btn-primary btn-md" role="button">Laptop</a>
  <a href="{% url 'add_laptop' %}"  class="btn btn-warning btn-sm" role="button"> +</a>

  <a href="{% url 'display_mobiles' %}" class="btn btn-primary btn-md" role="button">Mobile</a>
  <a href="{% url 'add_mobile' %}"  class="btn btn-warning btn-sm" role="button"> +</a>
</div>

{% if items %}
  <table class="table table-hover">
    <caption class="caption-top fs-3">{{ header }}</caption>
    <thead>
      <tr>
        {% if header != 'All Items'%}
          <th>ID</th>
        {% endif %}
        <th>Model</th>
        <th>Price</th>
        <th>Status</th>
        <th>Condition</th>
      </tr>
    </thead>

    <tbody>
      {% for item in items %}
        <tr>
          {% if header != 'All Items'%}
            <td>{{ item.pk }}</td>
          {% endif %}
          <td>{{ item.type }}</td>
          <td>{{ item.price }}</td>
          {% if item.status == 'Sold' %}
            <td class="text-danger">{{ item.status }}</td>
          {% else %}
            <td>{{ item.status }}</td>
          {% endif %}
          <td>{{ item.condition }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}

  <br>
  <h1>Welcome, click on any of the above to start.</h1>

{% endif %}

{% endblock %}