{% extends 'base.html' %} 

{% block body %}

<div class="button-group">
  <a href="{% url 'display_all' %}" class="btn btn-dark btn-md" role="button">All</a>

  <a href="{% url 'display_desktops' %}" class="btn btn-primary btn-md" role="button">Desktop</a>
  <a href="{% url 'add_desktop' %}" class="btn btn-warning btn-sm" role="button"> +</a>

  <a href="{% url 'display_laptops' %}" class="btn btn-primary btn-md" role="button">Laptop</a>
  <a href="{% url 'add_laptop' %}"  class="btn btn-warning btn-sm" role="button"> +</a>

  <a href="{% url 'display_mobiles' %}" class="btn btn-primary btn-md" role="button">Mobile</a>
  <a href="{% url 'add_mobile' %}"  class="btn btn-warning btn-sm" role="button"> +</a>
</div>

<table class="table table-hover">
  <caption class="caption-top fs-3">{{ header }}</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Model</th>
      <th>Price</th>
      <th>Status</th>
      <th>Condition</th>
    </tr>
  </thead>

  <tbody>
    {% for item in items %}
      <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.condition }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
