{% extends 'base.html' %} 

{% block body %}

<div class="button-group">
  <a href="#" class="btn btn-primary btn-md" role="button">Desktop</a>
  <a href="#" class="btn btn-warning btn-sm" role="button"> +</a>

  <a href="#" class="btn btn-primary btn-md" role="button">Laptop</a>
  <a href="#" class="btn btn-warning btn-sm" role="button"> +</a>

  <a href="#" class="btn btn-primary btn-md" role="button">Mobile</a>
  <a href="#" class="btn btn-warning btn-sm" role="button"> +</a>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Model</th>
      <th>Price</th>
      <th>Status</th>
      <th>Condition</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

{% endblock %}
